


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>parasense</title>
    <link rel="stylesheet" href="static/css/css.css">
</head>
<body>

<!-- <div class="container">

    <a class="button" href="/emotion" style="--color: #ff1867;">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Hand gesture
    </a>
    <a class="button" href="/emotion" style="--color: #0f285c;">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Eye Gaze
    </a>
    <a class="button" href="/emotion" style="--color: #490a0d;">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Speech recognition
    </a>
  </div>

</body>
</html>  -->



<body>
  <div class="container">
      <a class="button" href="/handgesture" style="--color: #ff1867;">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Hand gesture
      </a>
      <a class="button" href="/start_eye_tracking" style="--color: #0f285c;">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Eye Gaze
      </a>
      <a class="button" href="/speech_rec" style="--color: #490a0d;">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Speech recognition
      </a>
  </div>
</body>
</html>